* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;

}

.view {
  height: 100%;
}
/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.mainmenu { z-index: 999999; width:100%;  padding: 30px 0 0 0;}
@media (min-width: 768px) {
	.mainmenu { position: fixed; }
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.open .navbar-toggle { 
	top:-70px; 
	opacity: 0;  
}
.mainmenu .dropdown-menu {
	top: -14em;
	left: 0px;
	font-size: 13px;
	padding:0;
	background:none;
	border:0 none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.mainmenu .dropdown-menu .active { 
	font-weight:bold;
}
.mainmenu .open .dropdown-menu { 
	top:2px;
	opacity:1;
}
.mainmenu .dropdown-menu a { 
	padding:10px 10px;
	margin:0;
	color:white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.mainmenu .dropdown-menu a:hover { 
	background:rgba(255,255,255,.1);
	color:white;
	padding:10px 8px 10px 12px;
}
/********************************************************/
/*                    IMG WRAP                   */
/********************************************************/
.surroundContainer {
  height: 100%; /*height of entire page */
  background-image: url(img/bw5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto; /* */
  white-space:nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 1200px;
}

/* hPage belongs to above containter .surroundContainer| which makes it 100%
of parent container */
.hPage {
  display: inline-block; /* almost does what a float does. still block level but also stacked to the right */
  height: 100%;
  width: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  line-height: 1200px;
}

.hp1 {
  background-image: url(img/bw5.jpg);
}
.hp2 {
  background-image: url(img/bw2.jpg);
}
.hp3 {
  background-image: url(img/bw3.jpg);
}
.hp4 {
  background-image: url(img/bw4.jpg);
}

.hPage2 {
  display: inline-block; /* almost does what a float does. still block level but also stacked to the right */
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(img/bw2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hPage3 {
  display: inline-block; /* almost does what a float does. still block level but also stacked to the right */
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(img/nightandday.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.hPage4 {
  display: inline-block; /* almost does what a float does. still block level but also stacked to the right */
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(img/StreetGleen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}