/*
body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

MAING BLOW
*/

blok1 { 
    /* The image used */
      padding-left:0;
    padding-right:0;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}